
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Relatório de TAGs</title>
<style type="text/css">
.jumbotron {
	width: 800px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
</style>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
	rel="stylesheet" />

<link th:href="@{/css/personalizado.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-datepicker.css}" rel="stylesheet" />

<script type="text/javascript"
	src="/tag/webjars/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>

<script>
	$(document).ready(function() {
		$('.datepicker').datepicker({
			format : 'dd/mm/yyyy',
			language : 'pt-BR'
		});
	});
</script>

</head>
<body>

	<div class="text-center">
		<img th:src="@{/images/logo.png}" height="80" width="300"
			align="center" />
	</div>

	<div class="jumbotron">

		<form class="form-inline" method="POST" th:object="${relatorioTAG}"
			th:action="@{/relatorio/relatorio_tags}" style="margin: 20px 0">


			<div class="form-group">
				<input type="hidden" class="form-control" placeholder="Id" />

				<table>
					<tr>
						<td><span class="label label-default">Nome do cliente:</span></td>
						<td><select class="form-control" placeholder="Fabricante"
							th:field="*{customer}" style="min-width: 300px;">
								<option value="" th:text="#{common.select.prompt}"></option>
								<option th:each="c : ${customers}" th:value="${c.id}"
									th:text="${c.customerName}">Customer 1</option>
						</select></td>
					</tr>
					<tr>
						<td><span class="label label-default">Inicio:</span></td>
						<td>
							<div>
								<input type="text" name="data" class="datepicker form-control"
									th:field="*{inicio}" style="min-width: 300px;" />
							</div>
						</td>
					</tr>

					<tr>
						<td><span class="label label-default">Termino:</span></td>
						<td>
							<div>
								<input type="text" name="data" class="datepicker form-control"
									th:field="*{termino}" style="min-width: 300px;"/>
							</div>
						</td>
					</tr>

				</table>

				<br />

				<div class="text-center">
					<button type="submit" class="btn btn-primary-adin">Pesquisar</button>
				</div>

			</div>

			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Customer name</th>
							<th>Public key</th>
							<th>Date</th>
							<th>Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tag : ${tags}">
							<td th:text="${tag.id}"></td>
							<td th:text="${tag.customer.customerName}"></td>
							<td th:text="${tag.customer.publicKey}"></td>
							<td th:text="${tag.date}"></td>

							<td style="width: 35px;"><a href="#"
								class="btn btn-sm btn-primary-adin"
								th:href="${'/tag/cadastro/customer/editar/' + tag.customer.id}">Abrir</a></td>
						</tr>
					</tbody>
				</table>
			</div>




		</form>
		<a href="#" class="btn btn-sm btn-primary-adin"
			th:href="${'/tag/index'}">Voltar</a>
	</div>

</body>
</html>