<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Gerar TAG</title>
<style type="text/css">
.jumbotron {
	width: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
</style>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/personalizado.css}" rel="stylesheet" />
	
	

<script type="text/javascript"
	src="/tag/webjars/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>

	<div class="text-center">
		<img th:src="@{/images/logo.png}" height="80" width="300"
			align="center" />
	</div>

	<div class="jumbotron">

		<form class="form-inline" method="POST" th:object="${tag}"
			th:action="@{/cadastro/tag}" style="margin: 20px 0">


			<div class="form-group">
				<input type="hidden" class="form-control" placeholder="Id" />

				<table>
					<tr>
						<td><span class="label label-default">Nome do cliente:</span></td>
						<td><select class="form-control" placeholder="Fabricante"
							style="min-width: 300px;">
								<option value="" th:text="#{common.select.prompt}"></option>
								<option th:each="f : ${fabricantes}"
									th:value="${f.idFabricante}" th:text="${f.razaoSocial}">Fabricante
									1</option>
						</select></td>
					</tr>

					<tr>
						<td><span class="label label-default">URL</span></td>
						<td><input type="text" class="form-control" placeholder="URL"
							style="min-width: 300px;" /></td>
					</tr>
					
					<tr>
						<td><span class="label label-default">Nome do cliente:</span></td>
						<td><select class="form-control" placeholder="Fabricante"
							style="min-width: 300px;">
								<option value="" th:text="#{common.select.prompt}"></option>
								<option value="http" >http</option>
								<option value="https" >https</option>
								<option value="popuin" >popuin</option>
								
								
						</select></td>
					</tr>

				</table>
<br/>

				<div class="text-center">
					<button type="button" class="btn btn-primary-adin"
						style="min-width: 300px;"
						onclick="location.href='/cadastro/produto'">Gerar TAG</button>
						
					<button type="submit" class="btn btn-primary-adin"
						style="min-width: 300px;">Salvar</button>

				</div>


			</div>







		</form>
		<a href="#" class="btn btn-sm btn-primary-adin" th:href="${'/tag/index'}">Voltar</a>


	</div>


</body>
</html>